# Import libraries

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
#conda install -c conda-forge mlxtend

In [2]:
titanic = pd.read_csv("C:/Users/Bhanupriya/Downloads/Titanic.csv")
titanic.head()

  Class Gender    Age Survived
0   3rd   Male  Child       No
1   3rd   Male  Child       No
2   3rd   Male  Child       No
3   3rd   Male  Child       No
4   3rd   Male  Child       No

# Pre-Processing
As the data is not in transaction formation 
We are using transaction Encoder

In [4]:
df=pd.get_dummies(titanic)
min(df.mean())

0.049522944116310766

# Apriori Algorithm

In [10]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

     support                                           itemsets
0   0.147660                                        (Class_1st)
1   0.129487                                        (Class_2nd)
2   0.320763                                        (Class_3rd)
3   0.402090                                       (Class_Crew)
4   0.213539                                    (Gender_Female)
5   0.786461                                      (Gender_Male)
6   0.950477                                        (Age_Adult)
7   0.676965                                      (Survived_No)
8   0.323035                                     (Survived_Yes)
9   0.144934                             (Age_Adult, Class_1st)
10  0.118582                             (Age_Adult, Class_2nd)
11  0.231713                           (Gender_Male, Class_3rd)
12  0.284871                             (Age_Adult, Class_3rd)
13  0.239891                           (Survived_No, Class_3rd)
14  0.391640                          (Gender_Male, Class_Crew)
15  0.402090                            (Age_Adult, Class_Crew)
16  0.305770                          (Survived_No, Class_Crew)
17  0.193094                         (Age_Adult, Gender_Female)
18  0.156293                      (Survived_Yes, Gender_Female)
19  0.757383                           (Age_Adult, Gender_Male)
20  0.619718                         (Survived_No, Gender_Male)
21  0.166742                        (Survived_Yes, Gender_Male)
22  0.653339                           (Survived_No, Age_Adult)
23  0.297138                          (Survived_Yes, Age_Adult)
24  0.209905                (Age_Adult, Gender_Male, Class_3rd)
25  0.191731              (Survived_No, Gender_Male, Class_3rd)
26  0.216265                (Survived_No, Age_Adult, Class_3rd)
27  0.391640               (Age_Adult, Gender_Male, Class_Crew)
28  0.304407             (Survived_No, Gender_Male, Class_Crew)
29  0.305770               (Survived_No, Age_Adult, Class_Crew)
30  0.143571           (Survived_Yes, Age_Adult, Gender_Female)
31  0.603816              (Survived_No, Age_Adult, Gender_Male)
32  0.153567             (Age_Adult, Survived_Yes, Gender_Male)
33  0.175829   (Survived_No, Age_Adult, Gender_Male, Class_3rd)
34  0.304407  (Survived_No, Age_Adult, Gender_Male, Class_Crew)

In [11]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Class_1st),(Age_Adult),0.147660,0.950477,0.144934,0.981538,1.032680,0.004587,2.682493
1,(Class_2nd),(Age_Adult),0.129487,0.950477,0.118582,0.915789,0.963505,-0.004492,0.588085
2,(Class_3rd),(Gender_Male),0.320763,0.786461,0.231713,0.722380,0.918520,-0.020555,0.769177
3,(Class_3rd),(Age_Adult),0.320763,0.950477,0.284871,0.888102,0.934375,-0.020008,0.442572
4,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,0.022745,1.281251
5,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
6,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf
7,(Class_Crew),(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
8,(Gender_Female),(Age_Adult),0.213539,0.950477,0.193094,0.904255,0.951370,-0.009870,0.517240
9,(Gender_Female),(Survived_Yes),0.213539,0.323035,0.156293,0.731915,2.265745,0.087312,2.525187
10,(Age_Adult),(Gender_Male),0.950477,0.786461,0.757383,0.796845,1.013204,0.009870,1.051116
11,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441
12,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
13,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,0.087312,1.523634
14,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023
15,(Survived_Yes),(Age_Adult),0.323035,0.950477,0.297138,0.919831,0.967757,-0.009900,0.617734
16,"(Age_Adult, Class_3rd)",(Gender_Male),0.284871,0.786461,0.209905,0.736842,0.936909,-0.014135,0.811449
17,"(Gender_Male, Class_3rd)",(Age_Adult),0.231713,0.950477,0.209905,0.905882,0.953082,-0.010333,0.526181
18,"(Survived_No, Class_3rd)",(Gender_Male),0.239891,0.786461,0.191731,0.799242,1.016252,0.003066,1.063667
19,"(Gender_Male, Class_3rd)",(Survived_No),0.231713,0.676965,0.191731,0.827451,1.222295,0.034870,1.872135
20,"(Survived_No, Class_3rd)",(Age_Adult),0.239891,0.950477,0.216265,0.901515,0.948487,-0.011746,0.502848
21,"(Age_Adult, Class_3rd)",(Survived_No),0.284871,0.676965,0.216265,0.759171,1.121433,0.023418,1.341344
22,"(Age_Adult, Class_Crew)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
23,"(Gender_Male, Class_Crew)",(Age_Adult),0.391640,0.950477,0.391640,1.000000,1.052103,0.019395,inf
24,(Class_Crew),"(Age_Adult, Gender_Male)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
25,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
26,"(Gender_Male, Class_Crew)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
27,(Class_Crew),"(Survived_No, Gender_Male)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
28,"(Survived_No, Class_Crew)",(Age_Adult),0.305770,0.950477,0.305770,1.000000,1.052103,0.015143,inf
29,"(Age_Adult, Class_Crew)",(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
30,(Class_Crew),"(Survived_No, Age_Adult)",0.402090,0.653339,0.305770,0.760452,1.163946,0.043069,1.447145
31,"(Survived_Yes, Gender_Female)",(Age_Adult),0.156293,0.950477,0.143571,0.918605,0.966467,-0.004981,0.608425
32,"(Age_Adult, Gender_Female)",(Survived_Yes),0.193094,0.323035,0.143571,0.743529,2.301699,0.081195,2.639542
33,"(Survived_No, Age_Adult)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152
34,"(Survived_No, Gender_Male)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,0.014788,1.929980
35,"(Age_Adult, Gender_Male)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,0.091095,1.593193
36,(Survived_No),"(Age_Adult, Gender_Male)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337
37,(Gender_Male),"(Survived_No, Age_Adult)",0.786461,0.653339,0.603816,0.767764,1.175139,0.089991,1.492710
38,"(Survived_Yes, Gender_Male)",(Age_Adult),0.166742,0.950477,0.153567,0.920981,0.968967,-0.004918,0.626721
39,"(Survived_No, Age_Adult, Class_3rd)",(Gender_Male),0.216265,0.786461,0.175829,0.813025,1.033777,0.005745,1.142075
40,"(Survived_No, Gender_Male, Class_3rd)",(Age_Adult),0.191731,0.950477,0.175829,0.917062,0.964844,-0.006407,0.597105
41,"(Age_Adult, Gender_Male, Class_3rd)",(Survived_No),0.209905,0.676965,0.175829,0.837662,1.237379,0.033731,1.989896
42,"(Survived_No, Class_3rd)","(Age_Adult, Gender_Male)",0.239891,0.757383,0.175829,0.732955,0.967746,-0.005860,0.908523
43,"(Gender_Male, Class_3rd)","(Survived_No, Age_Adult)",0.231713,0.653339,0.175829,0.758824,1.161454,0.024442,1.437373
44,"(Survived_No, Age_Adult, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
45,"(Survived_No, Gender_Male, Class_Crew)",(Age_Adult),0.304407,0.950477,0.304407,1.000000,1.052103,0.015075,inf
46,"(Age_Adult, Gender_Male, Class_Crew)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
47,"(Survived_No, Class_Crew)","(Age_Adult, Gender_Male)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079
48,"(Age_Adult, Class_Crew)","(Survived_No, Gender_Male)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
49,"(Gender_Male, Class_Crew)","(Survived_No, Age_Adult)",0.391640,0.653339,0.304407,0.777262,1.189676,0.048533,1.556362
50,(Class_Crew),"(Survived_No, Age_Adult, Gender_Male)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802

#####  An leverage value of 0 indicates independence. Range will be [-1 1]
A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [12]:
rules.sort_values('lift',ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32,"(Age_Adult, Gender_Female)",(Survived_Yes),0.193094,0.323035,0.143571,0.743529,2.301699,0.081195,2.639542
9,(Gender_Female),(Survived_Yes),0.213539,0.323035,0.156293,0.731915,2.265745,0.087312,2.525187
47,"(Survived_No, Class_Crew)","(Age_Adult, Gender_Male)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079
24,(Class_Crew),"(Age_Adult, Gender_Male)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
25,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
44,"(Survived_No, Age_Adult, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
50,(Class_Crew),"(Survived_No, Age_Adult, Gender_Male)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802
5,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
22,"(Age_Adult, Class_Crew)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
41,"(Age_Adult, Gender_Male, Class_3rd)",(Survived_No),0.209905,0.676965,0.175829,0.837662,1.237379,0.033731,1.989896
19,"(Gender_Male, Class_3rd)",(Survived_No),0.231713,0.676965,0.191731,0.827451,1.222295,0.034870,1.872135
48,"(Age_Adult, Class_Crew)","(Survived_No, Gender_Male)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
27,(Class_Crew),"(Survived_No, Gender_Male)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
49,"(Gender_Male, Class_Crew)","(Survived_No, Age_Adult)",0.391640,0.653339,0.304407,0.777262,1.189676,0.048533,1.556362
36,(Survived_No),"(Age_Adult, Gender_Male)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337
35,"(Age_Adult, Gender_Male)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,0.091095,1.593193
33,"(Survived_No, Age_Adult)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152
37,(Gender_Male),"(Survived_No, Age_Adult)",0.786461,0.653339,0.603816,0.767764,1.175139,0.089991,1.492710
13,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,0.087312,1.523634
12,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
30,(Class_Crew),"(Survived_No, Age_Adult)",0.402090,0.653339,0.305770,0.760452,1.163946,0.043069,1.447145
43,"(Gender_Male, Class_3rd)","(Survived_No, Age_Adult)",0.231713,0.653339,0.175829,0.758824,1.161454,0.024442,1.437373
26,"(Gender_Male, Class_Crew)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
46,"(Age_Adult, Gender_Male, Class_Crew)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
7,(Class_Crew),(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
29,"(Age_Adult, Class_Crew)",(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
21,"(Age_Adult, Class_3rd)",(Survived_No),0.284871,0.676965,0.216265,0.759171,1.121433,0.023418,1.341344
4,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,0.022745,1.281251
28,"(Survived_No, Class_Crew)",(Age_Adult),0.305770,0.950477,0.305770,1.000000,1.052103,0.015143,inf
6,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf
45,"(Survived_No, Gender_Male, Class_Crew)",(Age_Adult),0.304407,0.950477,0.304407,1.000000,1.052103,0.015075,inf
23,"(Gender_Male, Class_Crew)",(Age_Adult),0.391640,0.950477,0.391640,1.000000,1.052103,0.019395,inf
39,"(Survived_No, Age_Adult, Class_3rd)",(Gender_Male),0.216265,0.786461,0.175829,0.813025,1.033777,0.005745,1.142075
0,(Class_1st),(Age_Adult),0.147660,0.950477,0.144934,0.981538,1.032680,0.004587,2.682493
34,"(Survived_No, Gender_Male)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,0.014788,1.929980
18,"(Survived_No, Class_3rd)",(Gender_Male),0.239891,0.786461,0.191731,0.799242,1.016252,0.003066,1.063667
14,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023
10,(Age_Adult),(Gender_Male),0.950477,0.786461,0.757383,0.796845,1.013204,0.009870,1.051116
11,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441
38,"(Survived_Yes, Gender_Male)",(Age_Adult),0.166742,0.950477,0.153567,0.920981,0.968967,-0.004918,0.626721
15,(Survived_Yes),(Age_Adult),0.323035,0.950477,0.297138,0.919831,0.967757,-0.009900,0.617734
42,"(Survived_No, Class_3rd)","(Age_Adult, Gender_Male)",0.239891,0.757383,0.175829,0.732955,0.967746,-0.005860,0.908523
31,"(Survived_Yes, Gender_Female)",(Age_Adult),0.156293,0.950477,0.143571,0.918605,0.966467,-0.004981,0.608425
40,"(Survived_No, Gender_Male, Class_3rd)",(Age_Adult),0.191731,0.950477,0.175829,0.917062,0.964844,-0.006407,0.597105
1,(Class_2nd),(Age_Adult),0.129487,0.950477,0.118582,0.915789,0.963505,-0.004492,0.588085
17,"(Gender_Male, Class_3rd)",(Age_Adult),0.231713,0.950477,0.209905,0.905882,0.953082,-0.010333,0.526181
8,(Gender_Female),(Age_Adult),0.213539,0.950477,0.193094,0.904255,0.951370,-0.009870,0.517240
20,"(Survived_No, Class_3rd)",(Age_Adult),0.239891,0.950477,0.216265,0.901515,0.948487,-0.011746,0.502848
16,"(Age_Adult, Class_3rd)",(Gender_Male),0.284871,0.786461,0.209905,0.736842,0.936909,-0.014135,0.811449
3,(Class_3rd),(Age_Adult),0.320763,0.950477,0.284871,0.888102,0.934375,-0.020008,0.442572
2,(Class_3rd),(Gender_Male),0.320763,0.786461,0.231713,0.722380,0.918520,-0.020555,0.769177

In [15]:
rules=pd.DataFrame(rules[rules.lift>1])
len(rules)

39

In [14]:
rules.to_csv("rules.csv")